In [1]:
#QUESTION 1

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [3]:

b()
b()
b()
a

6

In [4]:
#QUESTION 2

In [15]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+file_name+" not found.")
        
file_length("Midterm.py")
file_length("idterm.py")

123
File idterm.py not found.

In [ ]:
# Question 3

In [16]:
class Marsupial:                
    
    def __init__(self,x,y):       
        self.pouch=[]                   
             
    def put_in_pouch(self,items):   
        self.pouch.append(items)
        
    def pouch_contents(self):           
        return self.pouch



class Kangaroo(Marsupial):         
    def __init__(self,x,y):              
        super().__init__(x,y)     
        self.dx = 0                      
        self.dy = 0                        
    
    def jump(self,x,y):                 
        self.dx = self.dx + x    
        self.dy = self.dy + y
    
    def __str__(self):          
        
        return ('I am a Kangaroo located at coordinates ({} ,{})'.format(self.dx,self.dy))



k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)  
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0 ,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3 ,0)

In [17]:
# Question 4

In [18]:
def collatz (x):
    if(x != 1):
        print(x )
    if(x == 1):
        print(x )
        return x
    if(x%2 == 0):
        x = x // 2
        collatz(x)
    else:
        x= 3*x + 1
        collatz(x)

In [19]:
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [20]:
#Question 5

In [58]:
binum =""
def binary (n):
    global binum
    if(n!=1):
        if(n==0):
            print("0")
        else:
            r=""
            rem = int(n%2)
            r=str(rem)
            binum+=r
            n =int(n/2)
            binary(n)
    else:
        binum +="1"
        binum = binum [::-1] 
        print(binum)
        bi_num=""
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
111
1001111

In [55]:
#Question 6

In [ ]:
Yet to find answer

In [56]:
#Question 7

In [ ]:
Yet to find answer//not required to find the answers

In [26]:
#Question 8

In [33]:
import sqlite3
conn = sqlite3.connect('MYDB2.db')
conn.execute('''
CREATE TABLE IF NOT EXISTS FORECAST1(city string,
                      country string,
                      season string,
                      temperature integer,
                      rainfall integer);''')
conn.commit()
x = conn.cursor()
conn.execute("INSERT INTO FORECAST1 VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
conn.execute("INSERT INTO FORECAST1 VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
conn.execute("INSERT INTO FORECAST1 VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
conn.execute("INSERT INTO FORECAST1 VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
conn.execute("INSERT INTO FORECAST1 VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
conn.execute("INSERT INTO FORECAST1 VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
conn.execute("INSERT INTO FORECAST1 VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
conn.execute("INSERT INTO FORECAST1 VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
conn.execute("INSERT INTO FORECAST1 VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
conn.execute("INSERT INTO FORECAST1 VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
conn.execute("INSERT INTO FORECAST1 VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
conn.execute("INSERT INTO FORECAST1 VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")



x.execute("SELECT temperature from FORECAST1")
y=x.fetchall()             
for i in y:
  print(i, end="")



print()
x.execute("SELECT DISTINCT(city) from FORECAST1")
y = x.fetchall()
for i in y:                         
  print(i, end="")



print()
x.execute("SELECT * from FORECAST1 WHERE country = 'India'")
y = x.fetchall()
for i in y:                            
  print(i, end="")



print()
x.execute("SELECT * from FORECAST1 WHERE season = 'Fall'")
y = x.fetchall()
for i in y:                            
  print(i, end="")



print()
x.execute("SELECT city,country,season from FORECAST1 WHERE rainfall BETWEEN 200 and 400")
y = x.fetchall()
for i in y:                                
  print(i, end="")



print()
x.execute("SELECT city,country from FORECAST1 WHERE (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
y = x.fetchall()
for i in y:                             
  print(i, end="")



print()
x.execute("SELECT sum(rainfall) from FORECAST1 WHERE city = 'Cairo'")
y = x.fetchall()
for i in y:
  print(i)
print
print()
x.execute("SELECT season, sum(rainfall) from FORECAST1 group by season")
y = x.fetchall()
for i in y:                                
  print(i)



conn.close()

(24.8,)(28.4,)(27.9,)(27.6,)(4.2,)(8.3,)(15.7,)(10.4,)(13.6,)(20.7,)(27.7,)(22.2,)
('Mumbai',)('London',)('Cairo',)
('Mumbai', 'India', 'Winter', 24.8, 5.9)('Mumbai', 'India', 'Spring', 28.4, 16.2)('Mumbai', 'India', 'Summer', 27.9, 1549.4)('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India', 'Fall', 27.6, 346)('London', 'United Kingdom', 'Fall', 10.4, 218.5)('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall')('London', 'United Kingdom', 'Winter')('London', 'United Kingdom', 'Fall')
('Cairo', 'Egypt')('Mumbai', 'India')
(27.6,)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [34]:
# Question 9

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([w1.upper() for w1 in words])
print([w2.lower() for w2 in words])
print([len(w1) for w1 in words])
print([[w1.upper(), w1.lower(), len(w1)]for w1 in words])
print([w1 for w1 in words if len(w1) >= 3])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']